*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding:0 20px;
    background-color:rgb(62, 105, 105);
}
h1{
    text-align: center;
    margin-bottom: 10px;
    color:#fff;
}
.image{
    max-width:100%;
    height:150px;
    object-fit: contain;
}
#productContainer{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.product{
    padding:10px 5px;
    text-align:center;
    border-radius:10px;
    background-color:#fff;
    transition:transform 0.3s ease;
    position:relative;
}
.price{
    margin:10px 0;
}
.product:hover{
    transform:scale(1.06);
}
.btns{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-top:10px;
    align-items: center;
}
.btns button{
    padding:5px 10px;
    border:none;
    color:#fff;
    border-radius:5px;
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
}
.addToCart{
     background-color:#28a745;
}
.buy{
   background-color:#ff5722;
}
.btns button:active{
    transform:scale(0.96);
}
.btns button:hover{
    box-shadow:3px 3px 10px rgba(0,0,0,0.3);
}
.rating{
    position: absolute;
    right:5px;
    top:5px;
    color:rgb(12, 12, 238);
    font-weight: bold;
}
.product{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}